@font-face {
    font-family: "Lato";
    font-display: swap;
    src:
        local("Lato"),
        url("/fonts/Lato-Regular.ttf"),
}

html,
body {
    font-family: 'Lato';
    background-color: #111;
}