@font-face {
    font-family: "Lato";
    font-display: swap;
    src:
        local("Lato"),
        url("/fonts/Lato-Regular.ttf"),
}

html,
body {
    font-family: 'Lato';
    background-color: #111;
}

:root {
    color-scheme: dark;
}

.scrollBody {
    width: 100vw;
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;
}